.nia{
    text-decoration: underline;
    color: cornflowerblue;
}

.ms-n5{
    margin-left: -40px;
}

.heading{
    font-size: 500%;
}

.search{
    margin-right: 40%;
    
}

.header-img{
    margin-top: 5%;
}