@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background-color: #fff !important;
}

.navbar-brand{
    font-size: 1.9rem !important;
    color: #565387 !important;
    font-weight:bold;
}

.navbar a{
    font-size: 1.3rem;
    text-transform: capitalize;
    color: #565387 ;
}

.navbar a:hover{
    color: #3498db ;
}

.crown{
    margin-right: 5px;
}

